@model WebApplication3.Models.ViewModel.ProductTreatmentDataView2
@{
    ViewBag.Title = "Treatment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

</style>
<div class="container">
    @*@Html.Action("PolygonDisplayPartial","InteractiveLandscape")*@
    
    <hr/>
    <div class="row situation-summary">
        <p id="selected_usage" style="display:none" >@ViewBag.Usage</p>
        <h4 id="selected_treatment"></h4>
        <p>Type of land: @ViewBag.TypeOfLand</p>
        @if(@ViewBag.TypeOfLand=="urban")
        {
            <p>Intended Treatment Site: @ViewBag.TypeOfUrban</p>
        }
        else
        {
            <p>Intended Treatment Site: @ViewBag.TypeOfAgri</p>
        }
        <p>Control method / control strategy: @ViewBag.ControlMethod</p>
        <p>The total area is @ViewBag.TotalArea ft<sup>2</sup></p>
    @*    <div ng-if="geoJson.properties.is_outdoor || geoJson.properties.need_organic || geoJson.properties.need_safe_for_pets"><span ng-show="geoJson.properties.is_outdoor" class="label label-default margin-right-10"> Outdoor land</span><span ng-show="geoJson.properties.need_organic" class="label label-default margin-right-10"> Organic product</span><span ng-show="geoJson.properties.need_safe_for_pets" class="label label-default margin-right-10"> Safe for pets</span></div>*@
    </div>
    <hr/>

    <div>
        <table data-toggle="table" class="table table-striped table-bordered table-condensed table-hover">
            <thead id="ProductsThead">
                <tr>
                    
                    <th data-field="ProductName" data-sortable="true">Product Name</th>
                    <th data-field="ActiveIngredient" data-sortable="true"><div>Active</div><div>Ingredient</div> </th>
                    <th data-field="ProductManufacturer" data-sortable="true">Manufacturer</th>
                    <th data-field="PhysicalForm" data-sortable="false">Physical Form</th>
                    <th data-field="IsSynthetic" data-sortable="false"><div>Synthetic</div><div>or Natural</div> </th>
                    <th data-field="ProductCoverage" data-sortable="false"><div>Suggested Product</div><div>Use Rate</div></th>
                     @if(@ViewBag.Usage=="Broadcast")
                    {
                        <th data-field="Amount" data-sortable="false"><div>Calculated Use Rate Amount</div><div>for @ViewBag.TotalArea ft<sup>2</sup></div></th>
                     }
                    else
                    {
                         <th data-field="Amount" data-sortable="false"><div>Calculated Use Rate Amount</div><div>for @ViewBag.MoundNumber mounds </div> </th>
                         
                     }
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.Products)
                {
                    <tr>
                    <td><a href=@Html.DisplayFor(m => i.ProductUrl) target="_blank"> @Html.DisplayFor(m => i.ProductName)</a></td>
                    <td> @Html.DisplayFor(m => i.ActiveIngredient)</td>
                    <td> @Html.DisplayFor(m => i.ProductManufacturer)</td>
                    <td> @Html.DisplayFor(m => i.PhysicalForm)</td>
                    @if (i.IsSynthetic)
                    {
                        <td>Synthetic</td>
                    }
                    else
                    {
                        <td>Natural</td>
                    }
                        @{string use_rate = "";}
                    @if (i.ProductMinUseRate == 0)
                    {
                        use_rate = i.ProductMaxUseRate + " " + i.ProductMeasurementUnit;
                    }
                    else
                    {
                        use_rate = i.ProductMinUseRate + " - " + i.ProductMaxUseRate + " " + i.ProductMeasurementUnit;
                    }
                    
                    <td>@use_rate</td>
                    <td> @Html.DisplayFor(m => i.Amount)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
 
<script type="text/javascript">
    var x = document.getElementById("selected_usage").innerHTML;
    if (x == "imt")
    {
        $("#selected_treatment").append('Selected <a href="http://fireant.tamu.edu/controlmethods/twostep/" target="_blank">Individual Mound Treatment </a>Method');
    }
    else
    {
        $("#selected_treatment").append('Selected <a href="http://fireant.tamu.edu/controlmethods/twostep/" target="_blank">Broadcast </a>Method');
    }

</script>

