@model WebApplication3.Models.ViewModel.QuestionDataView
@{
    ViewBag.Title = "QAIndex";
}

<div class="divide30"></div>

<div class="container main-qa">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <a href="/QA/PostQuestion" class="btn btn btn-theme-dark"> <i class="fa fa-plus"></i>&nbsp;NEW QUESTION</a>
        </div>
        <div class="col-xs-7 tabs">
            <ul class="QA nav nav-tabs">
            <li class="active" role="presentation"><a href="#">NEWEST</a></li>
            <li role="presentation"><a href="#">FREQUENT</a></li>
            <li role="presentation"><a href="#">VOTES</a></li>
            <li role="presentation"><a href="#">ACTIVE</a></li>
            <li role="presentation"><a href="#">UNANSWERED</a></li>
            </ul>
        </div>
    </div>
    <div class="divide60"></div>

    @{int index = 0;}
    <div class="qa-post-titles">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
             @foreach (var i in Model.Questions)
             {
                if(index % 2==0)
                {
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-7">
                            <div class="col-sm-12">
                                @Html.DisplayFor(m => i.Subject)
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    [ICON]
                                </div>
                                <div class="col-sm-9">
                                    <div class="col-sm-12">
                                         @Html.DisplayFor(m => i.QuestionAuthor)
                                    </div>
                                    <div class="col-sm-12">
                                         posted on @Html.DisplayFor(m => i.QuestionAuthor)
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                }
                else{
                    <div class="row" style="background-color: #eef2f4;">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-7">
                            <div class="col-sm-12">
                                @Html.DisplayFor(m => i.Subject)
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    [ICON]
                                </div>
                                <div class="col-sm-9">
                                    <div class="col-sm-12">
                                         @Html.DisplayFor(m => i.QuestionAuthor)
                                    </div>
                                    <div class="col-sm-12">
                                         posted on @Html.DisplayFor(m => i.QuestionAuthor)
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                }
                index++;
            }
        </div>
      <div class="col-sm-1"></div>
    </div>
<hr/>
</div>