@model WebApplication3.Models.ViewModel.ProductDataView2
@{
    ViewBag.Title = "ProductIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

@*<div class="divide30"></div>*@
<btn style="float:right" id="AddProduct" input type="submit" class="btn btn-theme-bg" onclick="AddProduct">Add Product </btn>
<div>
    <table data-toggle="table" class="table table-striped table-bordered table-condensed table-hover">
        <thead id="ProductsThead">
            <tr>
                <th data-field="ProductName" data-sortable="true"><div>Product</div><div>Name</div> </th>
                <th data-field="ActiveIngredient" data-sortable="true"><div>Active</div><div>Ingredient</div> </th>
                <th data-field="ProductManufacturer" data-sortable="true"><div>Product</div><div>Manufacturer</div></th>
                <th data-field="PhysicalForm" data-sortable="false"><div>Physical</div><div>Form</div> </th>
                <th data-field="IsSynthetic" data-sortable="false"><div>Synthetic</div><div>or Natural</div> </th>
                <th data-field="TypeOfControlUsage" data-sortable="false"><div>Control &</div><div>Treatment Method</div> </th>
                <th data-field="TypeOfLand" data-sortable="false"><div>Type of Land</div></th>
                <th data-field="TypeOfTreatmentSite" data-sortable="false"><div>Treatment Sites</div></th>
                <th data-field="ProductCoverage" data-sortable="false"><div>Suggested Product</div><div>Use Rate</div></th>
                <th data-field="ModifyProduct" data-sortable="false"><div>Modify</div><div>Product</div></th>
                
            </tr>
        </thead>
        <tbody>
    @foreach (var i in Model.Products)
            {
   
                <tr>
                    <td><a href=@Html.DisplayFor(m => i.ProductUrl) target="_blank"> @Html.DisplayFor(m => i.ProductName)</a></td>
                    <td> @Html.DisplayFor(m => i.ActiveIngredient)</td>
                    <td> @Html.DisplayFor(m => i.ProductManufacturer)</td>
                    <td> @Html.DisplayFor(m => i.PhysicalForm)</td>
                    <td> @Html.DisplayFor(m => i.IsSynthetic)</td>
                    <td> @Html.DisplayFor(m => i.ProductControlMethod) & @Html.DisplayFor(m => i.ProductTreatmentMethod)</td>
                    <td> @Html.DisplayFor(m => i.TypeOfLand)</td>
                    <td>
                        <ul>
                            @for (int x = 0; x < i.TreatmentSites.Count;x++  )
                            {
                                <li>@Html.DisplayFor(m => i.TreatmentSites[x])</li>
                            }
                        </ul>
                    </td>
                    
                   
                    @{string use_rate = "";}
                     @if (i.ProductMinUseRate == 0)
                    {
                        use_rate = i.ProductMaxUseRate + " " + i.ProductMeasurementUnit;
                    }
                    else
                    {
                        use_rate = i.ProductMinUseRate + " - " + i.ProductMaxUseRate + " " + i.ProductMeasurementUnit;
                    }
                    
                    <td>@use_rate</td>
                    <td><a href="#">Edit</a>&nbsp;&nbsp;<a href="#">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>  
<div ng-app="productManagerApp" ng-controller="productDefaultCtrl">
<div id="add-product-modal" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Add Product Details </h4>
            </div>
            <div class="modal-body">
                <form novalidate="novalidate" name="productForm" class="form-horizontal productForm">
                    <div ng-show="productForm.productName.$touched" class="row">
                        <div ng-show="productForm.productName.$error.required" class="col-sm-9 col-sm-offset-3">Please enter product name</div>
                    </div>
                    <div class="form-group row">
                        <label for="productName" class="col-sm-4 control-label text-right">
                            Product Name<span>*</span>
                        </label>
                        <div class="col-sm-8">
                            <input id="productName" type="text" placeholder="Name of this product" ng-model="treatment2.ProductName" name="productName" required="required" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label text-right">
                            Type of use of land<span>*</span>
                        </label>
                        <div class="col-sm-8">
                            <select ng-model="product_details.type_of_land" ng-options="typeOfUseOption.value as typeOfUseOption.optionText for typeOfUseOption in TypeOfLand" required="required" name="tyoeOfUse" class="form-control">
                                <option value="">(Pick One Type of Land)</option>
                            </select>
                        </div><span ng-show="productForm.tyeOfUse.$touched &amp;&amp; productForm.tyoeOfUse.$invalid">Please select type of use</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('document').ready(function () {
        document.getElementById("AddProduct").onclick = function () {
            product_details = {
                ProductName : "",
                ProductManufacturer : "",
                PhysicalForm: "",
                PesticideClassification: "",
                ProductControlMethod : "",
                ProductTreatmentMethod : "",
                ActiveIngredient : "",
                ProductMinUseRate : "",
                ProductMaxUseRate : "",
                ProductMeasurementUnit : "",
                ProductUrl : "",
                IsSynthetic : "",
                TreatmentSites : [],
                TypeOfLand: ""
            };

            $('#add-product-modal').modal("show");
        }
    });

    var polygonManagerApp = angular.module("productManagerApp", []);
    console.log("inside productmaanager")
    polygonManagerApp.controller("productDefaultCtrl", function ($scope) {
        var $productModal = $("#add-product-modal");
        $scope.TypeOfLand = [
     { value: "urban", optionText: "Urban Land" },
     { value: "agricultural", optionText: "Agricultural Land" }
        ];

        $scope.TypeOfUrbanTreatmentSite = [
        { value: "home_lawns", optionText: "Home Lawns / Ornamentals" },
        { value: "perimeter", optionText: "Perimeter" },
        { value: "rec", optionText: "Recreational Areas" },
        { value: "right_of_way", optionText: "Right of Way" }
        ];

        $scope.TypeOfAgricultureTreatmentSite = [
       { value: "pasture", optionText: "Pasture Land" },
       { value: "poultry", optionText: "Poultry Houses" },
       { value: "crop", optionText: "Crop Areas" },
       { value: "sod", optionText: "Sod / Turf" },
       { value: "nursery_container", optionText: "Nursery Container" },
       { value: "nursery_bb", optionText: "Nursery B & B (Ball & Burlap)" },
       { value: "other", optionText: "Other ( Fences / Rows / Ditches / Out Buildings)" }
        ];

        $scope.TypeOfControlMethod = [
          { value: "bait", optionText: "Bait and Sterilize Queen", explaination: "worker ants send product to queen. Queen eats and then unable to give birth to new ants" },
          { value: "contact", optionText: "Kill by Direct Contact", explaination: "When fire ants have been in contact with the ingredients of products, they are killed" },
        ];

        $scope.TypeOfTreatmentMethod = [
          { value: "broadcast", optionText: "Broadcast Treatment", explaination: "worker ants send product to queen. Queen eats and then unable to give birth to new ants" },
          { value: "imt", optionText: "Individual Mound Treatment", explaination: "When fire ants have been in contact with the ingredients of products, they are killed" },
        ];
        $scope.product_details = {
            polygon_name: null,  // required
            address: null,
            notes: null,

            // total_area, // will be filled at saveAndGenResult()
            mound_density: null,
            mound_number: null,
            type_of_land: null,
            type_of_urban: null,
            type_of_agri: null,
            type_of_treatment: null,         // required
            type_of_control_method: null,   // required

            // environment_map: null,  // this field will be filled by underlying JS logic
            // bounds,         // this field will be filled by underlying JS logic
            owner: null,         // this field will be filled by JS logic
        };
    });
</script>

